<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../static/master-style.css" th:href="@{master-style.css}">

</head>
<body>

<!-- Navigation -->
<!--<nav th:replace="nav.html :: nav">-->
<!--</nav>-->
<nav th:replace="fragments/nav.html :: nav" class="navbar navbar-expand-lg navbar-light bg-light"></nav>

<!-- Content -->
<div class="container m-3">
    <h1 class="text-center">Dashboard</h1>
    <div class="row">
        <div class="col border border-primary">
            <h2>Recent Activity</h2>


        </div>
        <div class="col">
            <div class="border border-primary">
                <h2>Current Profile</h2>
                <hr>
                <div><strong>First Name: </strong><span th:text="${user.getFirstName()}"></span></div>
                <div><strong>Last Name: </strong><span th:text="${user.getLastName()}"></span></div>
                <div><strong>Email: </strong><span th:text="${user.getEmail()}"></span></div>
            </div>

            <div class="border border-primary">
                <h2>Registered Users List</h2>

            </div>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer" class="footer text-center"></footer>

</body>
</html>