<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/master-style.css" th:href="@{master-style.css}">

</head>
<body>

<!-- Navigation -->
<!--<nav th:replace="nav.html :: nav">-->
<!--</nav>-->
<nav th:replace="fragments/admin-nav.html :: nav" class="navbar navbar-expand-lg navbar-light bg-light"></nav>

<!-- Content -->
<div class="container m-3">
    <h1 class="text-center">Dashboard</h1>
    <div class="row">
        <div class="col border border-primary p-3">
            <h2 class="text-center">Recent Activity</h2>

            <h4 class="mt-3">Last Login Activity</h4>
            <hr>
            <div class="text-center">Monday, Sept 3, 2018</div>

            <h4 class="mt-3">Number of Registered Users</h4>
            <hr>
            <div class="text-center" th:text="${users.size()}">4</div>

            <h4 class="mt-3">Inbox</h4>
            <hr>
            <div class="row">
                <strong class="col">Unread: </strong>
                <div class="col" th:text="${messages.size()}">0</div>
                <strong class="col">Read: </strong>
                <div class="col">0</div>
            </div>

        </div>

        <!--Right side -->
        <div class="col">
            <div class="border border-primary p-3">
                <h2 class="text-center">Current Profile</h2>
                <hr>
                <div class="row">
                    <strong class="col">First Name: </strong>
                    <span class="col" th:text="${user.getFirstName()}">John</span>
                </div>

                <div class="row">
                    <strong class="col">Last Name: </strong>
                    <span class="col" th:text="${user.getLastName()}">Doe</span>

                </div>

                <div class="row">
                    <strong class="col">Email: </strong>
                    <span class="col" th:text="${user.getEmail()}">john@doe.com</span>
                </div>
            </div>

            <div class="border border-primary p-3 mt-3">
                <h2 class="text-center">Registered Users List</h2>
                <hr>
                <div class="row" th:each="user:${users}">
                    <span class="col" th:text="${user.getFirstName()}">John Doe</span>
                    <span class="col" th:text="${user.getEmail()}">john@isp.ca</span>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer" class="footer text-center"></footer>

</body>
</html>