<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../../resources/static/master-style.css" th:href="@{master-style.css}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading text-center">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>

        <p class="m-5">
            <div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
            <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
        </p>

        <p class="width300 ml-5">
            <button class="btn btn-lg btn-primary m-2" type="submit">Login</button>
            <a class="btn btn-lg btn-success m-2" href="/registration">Register</a>
        </p>
        <br>
        <p class="3 ml-5">
            <a href="/registration">Forgot your password?</a>
        </p>
    </form>

</div>
</body></html>