<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../resources/static/master-style.css" th:href="@{master-style.css}">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>

<div class="container pt-5">
    <h2>Login</h2>
    <form action="/login" method="post">
        <p>Username: <input type="text" required/></p>
        <p>Password: <input type="password" required/></p>
<!--        <p><input type="checkbox" required/> I am not a robot</p>-->
        <p>
            <input type="submit" value="Login"/>
            <a href="/users" class="btn btn-primary">Create Account</a>
        </p>
        <div class="g-recaptcha col-sm-5"
             th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
        <span id="captchaError" class="alert alert-danger col-sm-4"
              style="display:none"></span>
    </form>
    <a href="#">Forgot your password</a>
</div>

<footer class="footer text-center">
    <div class="container">
        <span class="text-muted">Assignment 2 - 2020-11-8 - Channel5NewsTeam</span>
    </div>
</footer>

</body>
</html>